<div class="card" [ngClass]="{' text-bg-danger': task.priority=='H','text-bg-success':task.priority=='L','text-bg-warning':task.priority=='M'}" *ngIf="task.isDelete == false">
          <div class="card-body ">
            <h5 class="card-title">{{task.name}} ({{task.getStatusText()}})</h5>
          </div>
          <div class="accordion accordion-flush" [id]="'accordionFlushExample'+task.id">
            <div class="accordion-item">
              <h2 class="accordion-header" [id]="'flush-headingOne'+task.id">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapseOne'+task.id" aria-expanded="false" [attr.aria-controls]="'flush-collapseOne'+task.id">
                  {{task.description}}                </button>
              </h2>
              <div [id]="'flush-collapseOne'+task.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-headingOne'+task.id" [attr.data-bs-parent]="'#accordionFlushExample'+task.id">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    Prioridad: {{task.getPriorityText()}}
                    <span *ngIf="(task.priority=='L' || task.priority=='M') && task.status != 'C'">&nbsp;</span>
                    <i *ngIf="(task.priority=='L' || task.priority=='M') && task.status != 'C'"
                      class="bi bi-arrow-up-circle-fill" (click)="raiseTaskPriority(task.id)"></i>
      
                    <span *ngIf="(task.priority=='H' || task.priority=='M') && task.status != 'C'">&nbsp;</span>
                    <i *ngIf="(task.priority=='H' || task.priority=='M') && task.status != 'C'"
                      class="bi bi-arrow-down-circle-fill" (click)="lowerTaskPriority(task.id)"></i>
                  </li>
                  <li class="list-group-item">
                    Estado: {{task.getStatusText()}}
                      <i [ngClass]="{'bi bi-play-fill': task.status=='P'}" (click)="changeTaskStatus(task.id)"></i>
      
                      <i [ngClass]="{'bi bi-check-lg': task.status=='IP'}" (click)="changeTaskStatus(task.id)"></i>
      
                      <i [ngClass]="{'bi bi-arrow-return-right': task.status=='C'}" (click)="changeTaskStatus(task.id)"></i>
                  </li>
                  <li class="list-group-item">Expira: {{task.expirationDate}}</li>
                  <li class="list-group-item">
                    <button type="button" class="btn btn-secondary" (click)="editTask(task.id)">
                      <i class="bi bi-pencil-square" ></i>
                      Editar
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="deleteTask(task.id)">
                      <i class="bi bi-trash" ></i>
                      Borrar
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>